* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  height: 600px;
  margin: 0 auto 0;
  position: relative;
}

.carousel > button {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  height: 50px;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel > button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel .prev-button {
  left: 0;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}

.carousel .next-button {
  right: 0;
  border-radius: 3px 0 0 3px;
  z-index: 1;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track > div {
  min-width: 100%;
  display: flex;
  transition: transform 0.5s;
}

.carousel-track > div > img {
  width: 100%;
  object-fit: cover;
}

.bullets {
  display: flex;
  position: absolute;
  left: 50%;
  height: 15px;
  transform: translateX(-50%);
  bottom: -30px;
}

.bullets span {
  width: 15px;
  height: 15px;
  background-color: #bbb;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2px;
  transition: 0.5s ease-in-out;
}

.bullets span:hover {
  background-color: #717171;
}

span.active {
  background-color: #717171;
}
